<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="UTF-8" />
        <meta name="description" content="Personal website of Anthony Birkett, IT guy, Engineer and Entrepreneur.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets filter="scssphp" output="css/main.css" "@AppBundle/Resources/assets/scss/main.scss" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <style>
            #container{background-color: rgb({{ random(255)}}, {{ random(255)}}, {{ random(255)}});}
        </style>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="alternate" href="{{ path('feed') }}" title="RSS feed" type="application/rss+xml" />
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                <div class="header">
                    <a href="{{ path('homepage') }}">
                        <div class="topavatar"></div>
                        <h1>Anthony <strong>Birkett</strong></h1>
                    </a>
                    <a href="http://www.twitter.com/birkett26" title="Twitter" target="_blank">
                        <div class="headernavicon headertwittericon"></div>
                    </a>
                    <a href="http://www.github.com/birkett" title="GitHub" target="_blank">
                        <div class="headernavicon headergithubicon"></div>
                    </a>
                    <a href="http://www.steamcommunity.com/id/birkett" title="Steam" target="_blank">
                        <div class="headernavicon headersteamicon"></div>
                    </a>
                    <a href="http://www.youtube.com/birkett26" title="YouTube" target="_blank">
                        <div class="headernavicon headeryoutubeicon"></div>
                    </a>
                    <a href="http://www.flickr.com/photos/birkett26" title="Flickr" target="_blank">
                        <div class="headernavicon headerflickricon"></div>
                    </a>
                    <a href="{{ path('feed') }}" title="Blog Feed" target="_blank">
                        <div class="headernavicon headerfeedicon"></div>
                    </a>
                </div>
                <div class="fadeout"></div>
                <div class="noticebox"></div>
                <div class="content">
                    {% block body %}{% endblock %}
                    <div class="widgetcontainer">
                        {WIDGET}
                    </div>
                </div>
                <div class="fadein"></div>
                <div class="footer">
                    <p>&copy; 2007-{{ "now"|date('Y') }} Anthony Birkett</p>
                    <p>This site is Open Source. <a href="https://www.github.com/birkett/a-birkett.co.uk" target="_blank">Code available on GitHub.</a></p>
                    <p>Email communications filtered by <a href="http://mxguarddog.com/">MXGuardDog</a></p>
                    <ins class="adsbygoogle" data-ad-client="ca-pub-3491498523960183" data-ad-slot="5902265353" data-ad-format="auto"></ins>
                    <div class="fadeblack"></div>
                </div>
            </div>
        </div>
        {% block javascripts %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endblock %}
    </body>
</html>
