<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ constants.firstName }} {{ constants.lastName }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Personal website of {{ constants.firstName }} {{ constants.lastName }}, IT guy and Engineer.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Francois+One%7CRighteous&display=swap">
        <link rel="stylesheet" href="css/main.css?v={{ constants.siteVersion }}">

        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v={{ constants.siteVersion }}">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v={{ constants.siteVersion }}">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v={{ constants.siteVersion }}">
        <link rel="manifest" href="site.webmanifest?v={{ constants.siteVersion }}">
        <link rel="mask-icon" href="safari-pinned-tab.svg?v={{ constants.siteVersion }}" color="#000000">
        <link rel="shortcut icon" href="favicon.ico?v={{ constants.siteVersion }}">

        <meta name="msapplication-TileColor" content="#2B5797">
        <meta name="theme-color" content="#FFFFFF">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="top-avatar"></div>

                <h1>{{ constants.firstName }} <strong>{{ constants.lastName }}</strong></h1>
            </div>

            <div class="content">
                {% include 'headerIcons.html.twig' %}
                {% include 'about.html.twig' %}
                {% include 'tagCloud.html.twig' %}
            </div>

            <div class="footer">
                <p>&copy; {{ constants.firstName }} {{ constants.lastName }}</p>
                <p>
                    This site is Open Source.
                    <a href="{{ constants.githubSiteLink}}" target="_blank">Code available on GitHub.</a>
                </p>
                <div class="fade-black"></div>
            </div>
        </div>
    </body>
</html>
