{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
        <div class="fadein"></div>
        <div class="post">
            <div class="postavatar">
                <img src="{{ asset('assets/images/avatar.png') }}" alt="avatar"/>
            </div>
            <a href="/blog/{{ post.getPostId() }}"><h2>{{ post.getPostTitle() }}</h2></a>
            <p class="timestamp">{{ post.getPostTimestamp()|date }}</p>
            {{ post.getPostContent()|raw }}
            <a class="right" href="/blog/{{ post.getPostId() }}">Comments({{ post.getCommentsCount() }})</a>
        </div>
        <div class="fadeout"></div>
        {% if posts|length <= 1 %}
            {% for comment in post.comments %}
                <div class="fadein"></div>
                <div class="post">
                    <p class="timestamp">Posted by {{ comment.getCommentUsername() }} on {{ comment.getCommentTimestamp()|date }}</p>
                    <p>{{ comment.getCommentText()|raw }}</p>
                </div>
                <div class="fadeout"></div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if posts|length <= 1 %}
        {% embed 'blog/newcomment.html.twig' %}{% endembed %}
    {% endif %}

    {% if posts|length > 1 %}
        {% embed 'blog/pagination.html.twig' %}{% endembed %}
    {% endif %}
{% endblock %}
