<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="{{ path('feed') }}" rel="self" type="application/rss+xml" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link>{{ url('homepage') }}</link>
        <description>RSS feed for the personal blog of Anthony Birkett.</description>
        <language>en-GB</language>
        <copyright>Copyright (C) 2007-{{ "now"|date('Y') }} Anthony Birkett - {{ url('homepage') }}</copyright>

        {% for post in posts %}
        <item>
            <title>{{ post.getPostTitle() }}</title>
            <description><![CDATA[{{ post.getPostContent() }}]]></description>
            <link>{{ url('homepage') }}blog/{{ post.getPostId() }}</link>
            <pubDate>{{ post.getPostTimestamp()|date }}</pubDate>
            <guid isPermaLink="false">{{ post.getPostTimestamp()|date }}</guid>
        </item>
        {% endfor %}
    </channel>
</rss>
