{% extends 'WebsiteBundle::base.html.twig' %}

{% block body %}
    {% for post in posts %}
        <div class="fadein"></div>
        <div class="post">
            <div class="postavatar">
                <img src="/img/avatar.png" alt="avatar"/>
            </div>
            <a href="/blog/{{ post.postid }}"><h2>{{ post.posttitle }}</h2></a>
            <p class="timestamp">{{ post.posttimestamp }}</p>
            {{ post.postcontent }}
            <a class="right" href="/blog/{{ post.postid }}">Comments({{ post.getCommentsCount() }})</a>
        </div>
        <div class="fadeout"></div>
        {% if posts|length <= 1 %}
            {% for comment in post.comments %}
                <div class="fadein"></div>
                <div class="post">
                    <p class="timestamp">Posted by {{ comment.commentusername }} on {{ comment.commenttimestamp }}</p>
                    <p>{{ comment.commenttext }}</p>
                </div>
                <div class="fadeout"></div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if posts|length <= 1 %}
        {% embed 'WebsiteBundle:blog:newcomment.html.twig' %}{% endembed %}
    {% endif %}

    {% if posts|length > 1 %}
        {% embed 'WebsiteBundle:blog:pagination.html.twig' %}{% endembed %}
    {% endif %}
{% endblock %}
